//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved.
// Tang Nano 20K LED Blink Test Constraints

// Crystal oscillator input (27 MHz)
IO_LOC  "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// Onboard LEDs (active low - accent 0 to turn ON)
IO_LOC  "led0" 15;
IO_PORT "led0" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "led1" 16;
IO_PORT "led1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "led2" 17;
IO_PORT "led2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "led3" 18;
IO_PORT "led3" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "led4" 19;
IO_PORT "led4" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "led5" 20;
IO_PORT "led5" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
