################################################################
# Tang Nano 20K VFD Parallel + LED assignment
################################################################

#--- Data bus
IO_LOC "data_bus[0]" 25;
IO_LOC "data_bus[1]" 53;
IO_LOC "data_bus[2]" 71;
IO_LOC "data_bus[3]" 72;
IO_LOC "data_bus[4]" 41;
IO_LOC "data_bus[5]" 42;
IO_LOC "data_bus[6]" 80;
IO_LOC "data_bus[7]" 76;

IO_PORT "data_bus[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "data_bus[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "data_bus[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "data_bus[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "data_bus[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "data_bus[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "data_bus[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "data_bus[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

#--- WR
IO_LOC  "wr_n" 74;
IO_PORT "wr_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

#--- READY
IO_LOC  "ready" 51;
IO_PORT "ready" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

#--- LED signals
IO_LOC  "led"         15;
IO_LOC  "led_ready"   16;
IO_LOC  "led_state0"  17;
IO_LOC  "led_state1"  18;

IO_PORT "led"         IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_ready"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_state0"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_state1"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;